.footer-container{
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: center;
    padding: 40px 30px;      
    width: 100%;
}
.text-white{
    color:antiquewhite;
    text-align: center;

}
.footer-container{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    
}
.name{
    color:antiquewhite;
    text-decoration: none;
}
.footer-div{
    padding-top: 40px;
    display: block;
}

