<nav class = "nav">
    <div class ="container">
        <div class ="navbar">
            <ul class = "nav-list">
                <a class="image" href="'/"><img class="image" src="logo.webp"></a>
                <li class = "nav-item">
                    <a class ="nav-link" href="/"> Home</a>
                </li>
                <li class = "nav-item">
                    <a class ="nav-link" href="#" [routerLink]="['/blog']">Blog</a>
                </li>
                <li class = "nav-item">
                    <a class ="nav-link" href="#" [routerLink]="['/contact']">Contact</a>
                </li>
                <form>
                    <input  class="form-control" type="text" placeholder="Search" (input)="onSearch($any($event.target).value)" aria-label="Search">
                </form>
            </ul>
            
        </div>
    </div>
</nav>
