<div>
    <div class="intro">
        <div class ="intro-text">
            <ul class="intro-list">
                <li class="intro-list-item">
                    The Best
                </li>
                <span class="intro-list-item-differ">
                    <li class="intro-list-item-dif">
                        Open Source
                    </li>
                    <li class="intro-list-item-dif"> 
                        Community
                    </li>
                </span>
                <li class="intro-list-item">
                    to share recipe
                </li>
            </ul>
        </div>
        
    </div>

</div>
